body{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}
header{
    margin: 0;
}
nav{
    height: 10vh;
    margin: 0;
    display: flex;
    justify-content: space-between;
    border: red 4px solid;
}
h1{
    margin:0;
}
#title{
    padding: 1% 0 0 1%
}
#counter{
    text-align: center;
    padding: 1% 1% 0 0;
    height: auto;
    display: flex;
}
#minicart{
    border: red 4px solid;
    background-color: yellow;
    padding-left: 2%;
    padding-right: 2%;
}
#minicart-summary{
    display: flex;
    justify-content: space-between;
}
#products-minicart{
    display: flex;
    justify-content: space-between;
}
#plp{
    border: red 4px solid;
    background-color: grey;
    padding-left: 2%;
    padding-right: 2%;
}
#products-plp{
    display: flex;
    justify-content: space-between;
}
.product-cart{
    border: 2px solid black;
    padding: 1%;
}
.product-plp{
    border: 2px solid black;
    padding: 1%;
}